@model WebVolait.Models.Cupom

@{
    ViewBag.Title = "InsertCupom";
}

<main class="content-main coupon-registration margin">
    <div class="container">
        <div class="form-container">
            <form id="coupon-registration" class="form" action="#">
                <div class="form__area-flex-title">
                    <h2 class="form__title">Cadastro de cupom</h2>
                </div>
                <div class="form__area form__area__textarea">
                    @Html.LabelFor(model => model.Cupomcode, htmlAttributes: new { @class = "form__area__label" })
                    @Html.EditorFor(model => model.Cupomcode, new { htmlAttributes = new { @class = "form__area__input" } })
                </div>
                <div class="form__area">
                    @Html.LabelFor(model => model.Cupomvalidade, htmlAttributes: new { @class = "form__area__label" })
                    @Html.EditorFor(model => model.Cupomvalidade, new { htmlAttributes = new { @class = "form__area__input" } })
                </div>
                <div class="form__area">
                    @Html.LabelFor(model => model.Valordesconto, htmlAttributes: new { @class = "form__area__label" })
                    @Html.EditorFor(model => model.Valordesconto, new { htmlAttributes = new { @class = "form__area__input" } })
                </div>
                <div class="form__area-flex flex-button">
                    <input class="button button--grey" type="button" value="Cancelar">
                    <input form="coupon-registration" class="button button--blue" type="submit" value="Salvar">
                </div>
            </form>
        </div>
    </div>
</main>

