@model IEnumerable<WebVolait.Models.Cupom>

@{
    ViewBag.Title = "ListarCupom";
}

<main class="content-main coupon-list list margin">
            <div class="container">
                <h1 class="list__title">
                    Cupons
                    <a class="button" href="~/Cupom/InsertCupom">
                        <iconify-icon icon="carbon:add"></iconify-icon>
                        Adicionar
                    </a>
                </h1>
                <div class="list__flex-header">
                    <div>#</div>
                    <div>
                        <span>Código</span>
                        <div class="search-bar">
                            <a class="search-bar__icon" href="#">
                                <iconify-icon class="iconify-icon" icon="eva:search-fill"></iconify-icon>
                            </a>
                            <input class="search-bar__txt" type="text"
                            placeholder="">
                        </div>
                    </div>
                    <div>
                        <span>Valor</span>
                        <div class="search-bar">
                            <a class="search-bar__icon" href="#">
                                <iconify-icon class="iconify-icon" icon="eva:search-fill"></iconify-icon>
                            </a>
                            <input class="search-bar__txt" type="text"
                            placeholder="">
                        </div>
                    </div>
                    <div>
                        <span>Validade</span>
                        <div class="search-bar">
                            <a class="search-bar__icon" href="#">
                                <iconify-icon class="iconify-icon" icon="eva:search-fill"></iconify-icon>
                            </a>
                            <input class="search-bar__txt" type="text"
                            placeholder="">
                        </div>
                    </div>
                </div>
                
                @foreach (var item in Model) {
                    <div class="list__flex-body">
                    <div class="list__flex-body__upper">
                        <div>@item.CupomId</div>
                        <div>
                            <span>@item.Cupomcode</span>
                        </div>
                        <div>@item.Valordesconto</div>
                        <div>
                            @item.Cupomvalidade
                            <div>
                                <iconify-icon icon="akar-icons:chevron-up" rotate="180deg"></iconify-icon>
                            </div>
                        </div>
                    </div>
                    <div class="list__flex-body__bottom">
                        <div>
                            <div>
                                Cupom
                                <span>@item.Cupomcode</span>
                            </div>
                            <div>
                                Validade
                                <span>@item.Cupomvalidade</span>
                            </div>

                            <div>
                                Valor
                                <span>R$ @item.Valordesconto</span>
                            </div>
                           
                            <div>
                                <a class="button list-delete" href="~/Cupom/DeletarCupom/@item.CupomId"><iconify-icon icon="fluent:delete-12-filled"></iconify-icon> Deletar</a>
                                <a class="button list-edit" href="~/Cupom/AlterarCupom/@item.CupomId"><iconify-icon icon="ci:edit"></iconify-icon>Editar</a>
                            </div>
                        </div>
                    </div>
                </div>
                }            
            </div>
        </main>