@model IEnumerable<WebVolait.Models.Cupom>

@{
    ViewBag.Title = "ListarCupom";
}

<!-- <h2>ListarCupom</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cupomcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valordesconto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cupomvalidade)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cupomcode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valordesconto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cupomvalidade)
        </td>
        <td>
            @Html.ActionLink("Edit", "AlterarCupom", new { id=item.CupomId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CupomId }) |
            @Html.ActionLink("Delete", "DeletarCupom", new { id=item.CupomId })
        </td>
    </tr>
}

</table> -->

<main class="content-main coupon-list list margin">
            <div class="container">
                <h1 class="list__title">
                    Cupons
                    <button class="button">
                        <iconify-icon icon="carbon:add"></iconify-icon>
                        Adicionar
                    </button>
                </h1>
                <div class="list__flex-header">
                    <div>#</div>
                    <div>
                        <span>Código</span>
                        <div class="search-bar">
                            <a class="search-bar__icon" href="#">
                                <iconify-icon class="iconify-icon" icon="eva:search-fill"></iconify-icon>
                            </a>
                            <input class="search-bar__txt" type="text"
                            placeholder="">
                        </div>
                    </div>
                    <div>
                        <span>Valor</span>
                        <div class="search-bar">
                            <a class="search-bar__icon" href="#">
                                <iconify-icon class="iconify-icon" icon="eva:search-fill"></iconify-icon>
                            </a>
                            <input class="search-bar__txt" type="text"
                            placeholder="">
                        </div>
                    </div>
                    <div>
                        <span>Validade</span>
                        <div class="search-bar">
                            <a class="search-bar__icon" href="#">
                                <iconify-icon class="iconify-icon" icon="eva:search-fill"></iconify-icon>
                            </a>
                            <input class="search-bar__txt" type="text"
                            placeholder="">
                        </div>
                    </div>
                </div>
                
                @foreach (var item in Model) {
                    <div class="list__flex-body">
                    <div class="list__flex-body__upper">
                        <div>@item.CupomId</div>
                        <div>
                            <span>@item.Cupomcode</span>
                        </div>
                        <div>@item.Valordesconto</div>
                        <div>
                            @item.Cupomvalidade
                            <div>
                                <iconify-icon icon="akar-icons:chevron-up" rotate="180deg"></iconify-icon>
                            </div>
                        </div>
                    </div>
                    <div class="list__flex-body__bottom">
                        <div>
                            <div>
                                Cupom
                                <span>@item.Cupomcode</span>
                            </div>
                            <div>
                                Validade
                                <span>@item.Cupomvalidade</span>
                            </div>
                            <div>
                                <a class="button list-edit" href="~/Cupom/AlterarCupom/@item.CupomId"><iconify-icon icon="ci:edit"></iconify-icon>Editar</a>
                            </div>
                            <div>
                                Valor
                                <span>@Valordesconto</span>
                            </div>
                            <div><a class="button list-delete" href="~/Cupom/DeletarCupom/@item.CupomId"><iconify-icon icon="fluent:delete-12-filled"></iconify-icon> Deletar</a></div>
                        </div>
                    </div>
                </div>
                }
                
            </div>
        </main>