@model IEnumerable<WebVolait.ViewModels.PassagemViewModel>

@{
    ViewBag.Title = "Home Page";
}

@if (TempData["MensagemLogin"] != null)
{
    <br />
    <br />
    <br />
    <div class="alert alert-success">

        @TempData["MensagemLogin"]

    </div>
}

<section class="step-by-step-purchase content-main margin">
    <div class="container">
        <ul class="step-by-step-purchase__list">
            <li class="step-by-step-purchase__list__item active">Selecionar passagem</li>
            <li class="step-by-step-purchase__list__item">Detalhes passagem</li>
            <li class="step-by-step-purchase__list__item ">Pagamento</li>
            <li class="step-by-step-purchase__list__item ">Confirmação compra</li>
        </ul>
    </div>
    <picture class="step-by-step-purchase__background-image">
        <img src="~/images/background-image-passages.jpg" alt="">
        <div class="step-by-step-purchase__background-image__title-step-by-step">
            Você voa mais longe
        </div>
    </picture>
    <div class="container">
        <div class="step-by-step-purchase__content-main">
            <div class="step-by-step-purchase__content-main__text">
                <h1 class="step-by-step-purchase__content-main__text__title">
                    Home
                </h1>
                <p class="step-by-step-purchase__content-main__text__paragraph">
                    Aqui você encontra as melhores passagens para<br class="break-line">diversos destinos. Pesquise por destinos e <br class="break-line">datas e venha explorar o mundo com a Volait
                </p>
            </div>
            <div class="step-by-step-purchase__content-main__card-passages">
                @foreach (var item in Model)
                {
                    <div class="step-by-step-purchase__content-main__card-passages__item">
                        <div>
                            <span class="text-secondary-color">Companhia áerea</span>
                            <span class="text-primary-color">@item.CiaAerea</span>
                        </div>
                        <div>
                            <div class="step-by-step-purchase__content-main__card-passages__item__upper">
                                <span class="text-primary-color">(@item.IdAeroPartida)</span>
                                <span class="text-secondary-color">
                                    Duração: <span class="text-primary-color">@item.DuracaoVoo</span>
                                </span>
                                <span class="text-primary-color">(@item.IdAeroDestino)</span>
                            </div>
                            <div class="step-by-step-purchase__content-main__card-passages__item__upper">
                                <span>@item.DtHrPartida</span>
                                <span class="text-secondary-color">
                                    <img src="images/card-passages.png" alt="">
                                </span>
                                <span>@item.DtHrChegada</span>
                            </div>
                            <div class="step-by-step-purchase__content-main__card-passages__item__middle">
                                <span>@item.CidadeAeroPartida</span>
                                <span>@item.CidadeAeroDestino</span>
                            </div>
                        </div>
                        <div class="step-by-step-purchase__content-main__card-passages__item__bottom">
                            <span class="text-primary-color">R$ @item.ValorPassagem</span>
                            <a class="button" href="~/Passagem/DetalhesPassagem/@item.IdPassagem">Ver Detalhes </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>


