
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<br />
@Html.ActionLink("Listar Cliente", "ListarCliente", "AutenticacaoCliente")
<br />
@Html.ActionLink("Listar Funcionarios", "ListarFuncionario", "AutenticacaoFuncionario")
<br />
@Html.ActionLink("Listar Passagens", "ListarPassagem", "Passagem")
<br />
@Html.ActionLink("Listar Cupons", "ListarCupom", "Cupom")


<br />
@Html.ActionLink("Cadastrar Novo Cliente", "InsertCliente", "AutenticacaoCliente")
<br />
@Html.ActionLink("Cadastrar Novo Funcionario", "InsertFuncionario", "AutenticacaoFuncionario")
<br />
@Html.ActionLink("Alterar Senha", "AlterarSenha", "AutenticacaoCliente")

