@model WebVolait.Models.Cliente

@{
    ViewBag.Title = "DeletarCliente";
}
   


<main class="content-main delete-insert user margin">
    <div class="container">
        <div class="form-container">
            <form id="delete-user" class="form" action="~/AutenticacaoCliente/DeletarCliente" method="post">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                @Html.HiddenFor(model => model.CPFCliente)

                @Html.HiddenFor(model => model.NomeCliente)

                @Html.HiddenFor(model => model.NomeSocialCliente)

                @Html.HiddenFor(model => model.LoginCliente)

                @Html.HiddenFor(model => model.TelefoneCliente)

                @Html.HiddenFor(model => model.SenhaCliente)

                <div class="form__area-flex-title">
                    <h2 class="form__title">Excluir cliente</h2>
                </div>
                <p class="form__text bold">Tem certeza que deseja continuar?</p>
                <p class="form__text warning">Atenção!</p>
                <p class="form__text delete-confirm">Confirmando esta ação o(a) cliente(a) @Model.NomeCliente, @Model.CPFCliente será deligado(a) e seu acesso ao sistema será negado.</p>
                <div class="form__area-flex flex-button">
                    <input class="button button--grey" type="button" value="Cancelar">
                    <input class="button button--red" type="submit" value="Deletar">
                </div>
            </form>
        </div>
    </div>
</main>