@model WebVolait.Models.Cliente

@{
    ViewBag.Title = "DeletarCliente";
}

@*<h2>DeletarCliente</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CPFCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPFCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeSocialCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeSocialCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoginCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoginCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefoneCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefoneCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SenhaCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SenhaCliente)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.CPFCliente)

        @Html.HiddenFor(model => model.NomeCliente)

        @Html.HiddenFor(model => model.NomeSocialCliente)

        @Html.HiddenFor(model => model.LoginCliente)

        @Html.HiddenFor(model => model.TelefoneCliente)

        @Html.HiddenFor(model => model.SenhaCliente)

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>*@

 <main class="content-main delete-insert user margin">
    <div class="container">
        <div class="form-container">
            <form id="delete-user" class="form" action="~/AutenticacaoCliente/DeletarCliente" method="post">
                @Html.HiddenFor(model => model.CPFCliente)
                <div class="form__area-flex-title">
                    <h2 class="form__title">Excluir cliente</h2>
                </div>
                <p class="form__text bold">Tem certeza que deseja continuar?</p>
                <p class="form__text warning">Atenção!</p>
                <p class="form__text delete-confirm">Confirmando esta ação o(a) cliente(a) @Model.NomeCliente, @Model.CPFCliente será deligado(a) e seu acesso ao sistema será negado.</p>
                <div class="form__area-flex flex-button">
                    <input class="button button--grey" type="button" value="Cancelar">
                    <input class="button button--red" type="submit" value="Deletar">
                </div>
            </form>
        </div>
    </div>
</main>