@model IEnumerable<WebVolait.Models.Cliente>

@{
    ViewBag.Title = "ListarCliente";
}

<h2>ListarCliente</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CPFCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeSocialCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoginCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelefoneCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SenhaCliente)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CPFCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeSocialCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoginCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelefoneCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SenhaCliente)
        </td>

        <td>
            @Html.ActionLink("Edit", "AlterarCliente", new { id = item.CPFCliente }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "DeletarCliente", new { id = item.CPFCliente })
        </td>
    </tr>
}

</table>
