@model IEnumerable<WebVolait.Models.Cliente>

@{
    ViewBag.Title = "ListarCliente";
}


<main class="content-main list customers-list margin">
    <div class="container">
        <h1 class="list__title">
            Clientes
            <a href="~/AutenticacaoCliente/InsertCliente/" class="button">
                <iconify-icon icon="carbon:add"></iconify-icon>
                Adicionar
            </a>
        </h1>
        <div class="list__flex-header">
            <div>#</div>
            <div>
                <span>Nome/CPF</span>
                <div class="search-bar">
                    <a class="search-bar__icon" href="#">
                        <iconify-icon class="iconify-icon" icon="eva:search-fill"></iconify-icon>
                    </a>
                    <input class="search-bar__txt" type="text"
                           placeholder="">
                </div>
            </div>
            <div>
                <span>Nome social</span>
                <div class="search-bar">
                    <a class="search-bar__icon" href="#">
                        <iconify-icon class="iconify-icon" icon="eva:search-fill"></iconify-icon>
                    </a>
                    <input class="search-bar__txt" type="text"
                           placeholder="">
                </div>
            </div>
            <div>
                <span>E-mail</span>
                <div class="search-bar">
                    <a class="search-bar__icon" href="#">
                        <iconify-icon class="iconify-icon" icon="eva:search-fill"></iconify-icon>
                    </a>
                    <input class="search-bar__txt" type="text"
                           placeholder="">
                </div>
            </div>
            <div>
                <span>Telefone</span>
                <div class="search-bar">
                    <a class="search-bar__icon" href="#">
                        <iconify-icon class="iconify-icon" icon="eva:search-fill"></iconify-icon>
                    </a>
                    <input class="search-bar__txt" type="text"
                           placeholder="">
                </div>
            </div>
        </div>
        @foreach (var item in Model) 
        {
            
            <div class="list__flex-body">
                <div class="list__flex-body__upper">
                    <div>#</div>
                    <div>
                        <span>@item.NomeCliente</span>
                        <span>@item.CPFCliente</span>
                    </div>
                    <div>@item.NomeSocialCliente</div>
                    <div>@item.LoginCliente</div>
                    <div>
                        @item.TelefoneCliente
                        <div>
                            <iconify-icon icon="akar-icons:chevron-up" rotate="180deg"></iconify-icon>
                        </div>
                    </div>
                </div>
                <div class="list__flex-body__bottom">
                    <div>
                        <div>
                            Nome Completo
                            <span>@item.NomeCliente</span>
                        </div>

                        <div>
                            CPF
                            <span>@item.CPFCliente</span>
                        </div>

                        <div>
                            Telefone
                            <span>@item.TelefoneCliente</span>
                        </div>


                        <div>
                            Nome social
                            <span>@item.NomeSocialCliente</span>
                        </div>
                        <div>
                            E-mail
                            <span>@item.LoginCliente</span>
                        </div>
                        <div>
                            <a class="button list-edit" href="/AutenticacaoCliente/AlterarCliente/@item.CPFCliente"><iconify-icon icon="ci:edit"></iconify-icon>Editar</a>
                            <a class="button list-delete" href="~/AutenticacaoCliente/DeletarCliente/@item.CPFCliente"><iconify-icon icon="fluent:delete-12-filled"></iconify-icon> Deletar</a>
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
        }
    </div>
</main>