@model WebVolait.ViewModels.LoginClienteViewModel

@{
    ViewBag.Title = "Login";
}

@*<h2>Login</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.urlRetorno)

            <div class="form-group">
                @Html.LabelFor(model => model.LoginCliente, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LoginCliente, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LoginCliente, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Senha, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Fazer login" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Cancelar", "Index")
    </div>*@


    <main class="content-main login">
        <div class="container">
            <div class="side-content">
                <h1 class="side-content__logo"><a href="#">VOLAIT</a></h1>
                <div class="side-content__bottom">
                    <h2 class="side-content__text">Bem vindo de volta <br class="line-break">a Volait</h2>
                    <p>
                        Bem vindoLorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi expedita est sapiente qui neque in omnis consectetur pariatur voluptate consequuntur atque, odit quia eveniet iusto rem?
                    </p>
                    <picture class="side-content__image">
                        <img src="~/images/login.png" alt="">
                    </picture>
                </div>
            </div>


            <div class="form-container">
                @using (Html.BeginForm(new { @class="form form-login" }))
                {       
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.urlRetorno)
                @*<form class="form form-login" action="#">*@
                <div class="form__area-flex-title">
                    <h2 class="form__title">Login</h2>
                </div>
 <!-- <div class="form__area-flex"></div> -->
                <div class="form__area">
                    @Html.EditorFor(model => model.LoginCliente, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.LabelFor(model => model.LoginCliente, htmlAttributes: new { @class = "form__area__label" })
                </div>
                <div class="form__area">
                    @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form__area__input" } })
                    @Html.LabelFor(model => model.Senha, htmlAttributes: new { @class = "form__area__label" })
                </div>
                <p class="form__text form__accent-text"><a href="#">Esqueceu sua senha?</a></p>
                <input class="button button--submit" type="submit" value="Enviar">
                @*</form>*@
                }
                <p>Ainda não possui cadastro? <a class="form__accent-text" href="#">Cadastre-se</a></span></p>
            </div>
        </div>
    </main>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
