@model WebVolait.Models.Passagem

@{
    ViewBag.Title = "AlterarPassagem";

    List<WebVolait.Models.Aero> listAeroportos = new List<WebVolait.Models.Aero>();
    WebVolait.Repositorio.Acoes ac = new WebVolait.Repositorio.Acoes();
    listAeroportos = ac.SelectTodosAero();

    List<WebVolait.Models.CiaAerea> listCiaAerea = new List<WebVolait.Models.CiaAerea>();
    listCiaAerea = ac.SelectTodosCiaAerea();

    List<WebVolait.Models.Classe> listClasse = new List<WebVolait.Models.Classe>();
    listClasse = ac.SelectTodosClasse();
}

@if (TempData["MensagemLogin"] != null)
{
    <br />
    <br />
    <br />
    <div class="alert alert-danger">

        @TempData["MensagemLogin"]

    </div>
}

<main class="content-main insert-passage margin">
    <div class="container">
        <div class="form-container">

            <form id="insert-passage" class="form" action="~/Passagem/AlterarPassagem" method="post">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.IdPassagem, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="form__area-flex-title">
                    <h2 class="form__title">Editar passagem</h2>
                </div>
                <div class="form__area-flex">
                    <div class="form__area">
                        @Html.EditorFor(model => model.NomePassagem, new { htmlAttributes = new { @class = "form__area__input" } })
                        @Html.LabelFor(model => model.NomePassagem, htmlAttributes: new { @class = "form__area__label" })
                    </div>
                    <div class="form__area">
                        @Html.EditorFor(model => model.DescPassagem, new { htmlAttributes = new { @class = "form__area__input" } })
                        @Html.LabelFor(model => model.DescPassagem, htmlAttributes: new { @class = "form__area__label" })
                    </div>
                </div>
                <div class="form__area-flex">
                    <div class="form__area">

                        <div class="form__area__select-box">
                            <select id="IdAeroPartida" name="IdAeroPartida">
                                <option value="" disabled selected>Aeroporto (Origem)</option>
                                @foreach (var itemaero in listAeroportos)
                                {
                                    <option value="@itemaero.IdAero">@itemaero.NomeAero</option>
                                }
                            </select>
                            <iconify-icon icon="akar-icons:chevron-up" rotate="180deg"></iconify-icon>
                        </div>
                    </div>
                    <div class="form__area">

                        <div class="form__area__select-box">
                            <select id="IdAeroDestino" name="IdAeroDestino">
                                <option value="" disabled selected>Aeroporto (Destino)</option>
                                @foreach (var itemaero in listAeroportos)
                                {
                                    <option value="@itemaero.IdAero">@itemaero.NomeAero</option>
                                }
                            </select>
                            <iconify-icon icon="akar-icons:chevron-up" rotate="180deg"></iconify-icon>
                        </div>
                    </div>
                </div>
                <div class="form__area-flex">
                    <div class="form__area">
                        @Html.EditorFor(model => model.DtHrPartida, new { htmlAttributes = new { @class = "form__area__input" } })
                        @Html.LabelFor(model => model.DtHrPartida, htmlAttributes: new { @class = "form__area__label" })
                    </div>
                    <div class="form__area">
                        @Html.EditorFor(model => model.DtHrChegada, new { htmlAttributes = new { @class = "form__area__input" } })
                        @Html.LabelFor(model => model.DtHrChegada, htmlAttributes: new { @class = "form__area__label" })
                    </div>
                </div>
                <div class="form__area-flex">
                    <div class="form__area form__area__textarea">
                        @Html.EditorFor(model => model.ImgPassagem, new { htmlAttributes = new { @class = "form__area__input" } })
                        @Html.LabelFor(model => model.ImgPassagem, htmlAttributes: new { @class = "form__area__label" })
                    </div>
                </div>

                <div class="form__area-flex">
                    <div class="form__area">
                        @Html.EditorFor(model => model.ValorPassagem, new { htmlAttributes = new { @class = "form__area__input" } })
                        @Html.LabelFor(model => model.ValorPassagem, htmlAttributes: new { @class = "form__area__label" })
                    </div>
                    <div class="form__area">


                        <div class="form__area__select-box">
                            <select id="CiaAerea" name="CiaAerea">
                                <option value="" disabled selected>Companhia Aérea</option>
                                @foreach (var itemciaaerea in listCiaAerea)
                                {
                                    <option value="@itemciaaerea.CiaAereaID">@itemciaaerea.CiaAereaID</option>
                                }
                            </select>
                            <iconify-icon icon="akar-icons:chevron-up" rotate="180deg"></iconify-icon>
                        </div>

                    </div>
                </div>
                <div class="form__area-flex">
                    <div class="form__area">
                        @Html.EditorFor(model => model.DuracaoVoo, new { htmlAttributes = new { @class = "form__area__input" } })
                        @Html.LabelFor(model => model.DuracaoVoo, htmlAttributes: new { @class = "form__area__label" })
                    </div>
                    <div class="form__area">


                        <div class="form__area__select-box">
                            <select id="Classe" name="Classe">
                                <option value="" disabled selected>Classe</option>
                                @foreach (var itemclasse in listClasse)
                                {
                                    <option value="@itemclasse.ClasseNome">@itemclasse.ClasseNome</option>
                                }
                            </select>
                            <iconify-icon icon="akar-icons:chevron-up" rotate="180deg"></iconify-icon>
                        </div>
                    </div>
                </div>
                <div class="form__area-flex flex-button">
                    <input class="button button--grey" type="button" value="Cancelar">
                    <input class="button button--black" type="submit" value="Salvar">
                </div>
            </form>
        </div>
    </div>
</main>
