@model WebVolait.Models.Passagem

@{
    ViewBag.Title = "DeletarPassagem";
}

<!-- <h2>DeletarPassagem</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Passagem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdPassagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdPassagem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomePassagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomePassagem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescPassagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescPassagem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImgPassagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImgPassagem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorPassagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorPassagem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Classe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Classe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdAeroPartida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdAeroPartida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdAeroDestino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdAeroDestino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DtHrPartida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtHrPartida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DtHrChegada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtHrChegada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DuracaoVoo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DuracaoVoo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CiaAerea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CiaAerea)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.IdPassagem)

        @Html.HiddenFor(model => model.NomePassagem)

        @Html.HiddenFor(model => model.DescPassagem)

        @Html.HiddenFor(model => model.ImgPassagem)

        @Html.HiddenFor(model => model.ValorPassagem)

        @Html.HiddenFor(model => model.Classe)

        @Html.HiddenFor(model => model.IdAeroPartida)

        @Html.HiddenFor(model => model.IdAeroDestino)

        @Html.HiddenFor(model => model.DtHrPartida)

        @Html.HiddenFor(model => model.DtHrChegada)

        @Html.HiddenFor(model => model.DuracaoVoo)

        @Html.HiddenFor(model => model.CiaAerea)

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div> -->

<main class="content-main delete-insert passagem margin">
    <div class="container">
        <div class="form-container">
            <form id="delete-passagem" class="form" method="post" action="~/Passagem/DeletarPassagem">
                @Html.AntiForgeryToken()

                @Html.HiddenFor(model => model.IdPassagem)

                @Html.HiddenFor(model => model.NomePassagem)

                @Html.HiddenFor(model => model.DescPassagem)

                @Html.HiddenFor(model => model.ImgPassagem)

                @Html.HiddenFor(model => model.ValorPassagem)

                @Html.HiddenFor(model => model.Classe)

                @Html.HiddenFor(model => model.IdAeroPartida)

                @Html.HiddenFor(model => model.IdAeroDestino)

                @Html.HiddenFor(model => model.DtHrPartida)

                @Html.HiddenFor(model => model.DtHrChegada)

                @Html.HiddenFor(model => model.DuracaoVoo)

                @Html.HiddenFor(model => model.CiaAerea)

                <div class="form__area-flex-title">
                    <h2 class="form__title">Excluir passagem</h2>
                </div>
                <p class="form__text bold">Tem certeza que deseja continuar?</p>
                <p class="form__text warning">Atenção!</p>
                <p class="form__text delete-confirm">Confirmando esta ação a passagem @Model.NomePassagem com valor de @Model.ValorPassagem será desativada tornando-se inválida.</p>
                <div class="form__area-flex flex-button">
                    <input class="button button--grey" type="button" value="Cancelar">
                    <input class="button button--red" type="submit" value="Deletar">
                </div>
            </form>
        </div>
    </div>
</main>