@model WebVolait.ViewModels.PassagemViewModel

@{
    ViewBag.Title = "DetalhesPassagem";
}

<section class="step-by-step-purchase passage-details content-main margin">
    <div class="container">
        <ul class="step-by-step-purchase__list">
            <li class="step-by-step-purchase__list__item success">Selecionar passagem</li>
            <li class="step-by-step-purchase__list__item active">Detalhes passagem</li>
            <li class="step-by-step-purchase__list__item ">Pagamento</li>
            <li class="step-by-step-purchase__list__item ">Confirmação compra</li>
        </ul>
    </div>
    <picture class="step-by-step-purchase__background-image">
        <img src="~/images/background-image-passage-details.jpg" alt="">
        <div class="step-by-step-purchase__background-image__title-step-by-step">
            Seu próximo destino
        </div>
    </picture>
    <div class="container">
        <div class="step-by-step-purchase__content-main">
            <div class="step-by-step-purchase__content-main__card-passages grid-passage-details-page">
                <div class="step-by-step-purchase__content-main__card-passages__item">
                    <div>
                        <span class="text-secondary-color">Companhia áerea</span>
                        <span class="text-primary-color">@Model.CiaAerea</span>
                    </div>
                    <div>
                        <div class="step-by-step-purchase__content-main__card-passages__item__upper">
                            <span class="text-primary-color">@Model.IdAeroPartida</span>
                            <span class="text-secondary-color">
                                Duração: <span class="text-primary-color">@Model.DuracaoVoo</span>
                            </span>
                            <span class="text-primary-color">@Model.IdAeroDestino</span>
                        </div>
                        <div class="step-by-step-purchase__content-main__card-passages__item__upper">
                            <span>13:15</span>
                            <span class="text-secondary-color">
                                <img src="~/images/card-passages.png" alt="">
                            </span>
                            <span>23:30</span>
                        </div>
                        <div class="step-by-step-purchase__content-main__card-passages__item__middle">
                            <span>@Model.CidadeAeroPartida</span>
                            <span>@Model.CidadeAeroDestino</span>
                        </div>
                    </div>
                </div>

                <div class="details-values">
                    <span class="details-values__title">Valores</span>

                    <svg width="350" height="20" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <line stroke-dasharray="15, 10, 5, 10, 15" x1="0" y1="10" x2="350" y2="10"></line>
                    </svg>

                    <div class="details-values__item">
                        <span>Ticket</span>
                        <span>R$ @Model.ValorPassagem</span>
                    </div>

                    <div class="details-values__item">
                        <span>Desconto</span>
                        <span>Valor</span>
                    </div>


                    <svg width="350" height="20" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <line stroke-dasharray="15, 10, 5, 10, 15" x1="0" y1="10" x2="350" y2="10"></line>
                    </svg>
                    <a class="button" href="~/Compra/InsertCompra/@Model.IdPassagem" style="width: 100%; text-decoration:none; text-align:center; display: flex; justify-content: center; align-items: center;">
                        Continuar
                    </a>
                </div>

                <div class="step-by-step-purchase_content-main__details">
                    <div class="airline-route">
                        <span class="airline-route-title">
                            
                            @Model.CidadeAeroPartida (@Model.IdAeroPartida) - @Model.CidadeAeroDestino (@Model.IdAeroDestino) 
                        </span>
                        <p class="airline-route__item">
                            
                             @Model.NomeAeroPartida (@Model.IdAeroPartida) 
                        </p>
                        <p class="airline-route__item">
                            
                             @Model.NomeAeroDestino (@Model.IdAeroDestino) 
                        </p>
                    </div>

                    <svg width="600" height="19" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <line stroke-dasharray="15, 10, 5" x1="0" y1="10" x2="600" y2="10" style="stroke-width: 2px;"></line>
                    </svg>

                    <div class="details-passage__item">
                        <span>DURAÇÃO</span>
                        <p>@Model.DuracaoVoo</p>
                    </div>
                    <div class="details-passage__item">
                        <span>COMPAINHA AÉREA</span>
                        <p>@Model.CiaAerea</p>
                    </div>
                    <div class="details-passage__item">
                        <span>CLASSE</span>
                        <p>@Model.Classe</p>
                    </div>
                    <div class="details-passage__item">
                        <span>@Model.IdAeroPartida</span>
                        <p>@Model.DtHrPartida </p>
                    </div>
                    <div class="details-passage__item">
                        <span>@Model.IdAeroDestino</span>
                        <p>@Model.DtHrChegada</p>
                    </div>
                    <div class="details-passage__item">
                        <span>DESCRIÇÃO</span>
                        <p>@Model.DescPassagem</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

        