@model IEnumerable<WebVolait.Models.Passagem>

@{
    ViewBag.Title = "ListarPassagemCliente";
}
@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdPassagem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomePassagem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescPassagem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImgPassagem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorPassagem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Classe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdAeroPartida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdAeroDestino)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DtHrPartida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DtHrChegada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DuracaoVoo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CiaAerea)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdPassagem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomePassagem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescPassagem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImgPassagem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorPassagem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Classe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdAeroPartida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdAeroDestino)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DtHrPartida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DtHrChegada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DuracaoVoo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CiaAerea)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Detalhes", "DetalhesPassagem", new { id=@item.IdPassagem }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>*@

<main class="content-main list passages-list margin">
    <div class="container">
        <h1 class="list__title">
            Passagens
            <button class="button">
                <iconify-icon icon="carbon:add"></iconify-icon>
                Adicionar
            </button>
        </h1>
        <div class="list__flex-header">
            <div>#</div>
            <div>
                <span>Origem</span>
                <div class="search-bar">
                    <a class="search-bar__icon" href="#">
                        <iconify-icon class="iconify-icon" icon="eva:search-fill"></iconify-icon>
                    </a>
                    <input class="search-bar__txt" type="text"
                           placeholder="">
                </div>
            </div>
            <div>
                <span>Destino</span>
                <div class="search-bar">
                    <a class="search-bar__icon" href="#">
                        <iconify-icon class="iconify-icon" icon="eva:search-fill"></iconify-icon>
                    </a>
                    <input class="search-bar__txt" type="text"
                           placeholder="">
                </div>
            </div>
            <div>
                <span>Horário partida</span>
                <div class="search-bar">
                    <a class="search-bar__icon" href="#">
                        <iconify-icon class="iconify-icon" icon="eva:search-fill"></iconify-icon>
                    </a>
                    <input class="search-bar__txt" type="text"
                           placeholder="">
                </div>
            </div>
            <div>
                <span>Horário chegada</span>
                <div class="search-bar">
                    <a class="search-bar__icon" href="#">
                        <iconify-icon class="iconify-icon" icon="eva:search-fill"></iconify-icon>
                    </a>
                    <input class="search-bar__txt" type="text"
                           placeholder="">
                </div>
            </div>
            <div>
                <span>Classe</span>
                <div class="search-bar">
                    <a class="search-bar__icon" href="#">
                        <iconify-icon class="iconify-icon" icon="eva:search-fill"></iconify-icon>
                    </a>
                    <input class="search-bar__txt" type="text"
                           placeholder="">
                </div>
            </div>
        </div>
        @foreach (var item in Model)
        {
            <div class="list__flex-body">
                <div class="list__flex-body__upper">
                    <div>@item.IdPassagem</div>
                    <div>
                        <span>@item.NomePassagem</span>
                    </div>
                    <div>@item.DtHrChegada</div>
                    <div>@item.DtHrPartida</div>
                    <div>@item.DuracaoVoo</div>
                    <div>
                        @item.CiaAerea
                        <div>
                            <iconify-icon icon="akar-icons:chevron-up" rotate="180deg"></iconify-icon>
                        </div>
                    </div>
                </div>
                <div class="list__flex-body__bottom">
                    <div>
                        <div>
                            Origem
                            <span>@item.IdAeroPartida</span>
                        </div>
                        <div>
                            Destino
                            <span>@item.IdAeroDestino</span>
                        </div>
                        <div>
                            Valor
                            <span>R$ @item.ValorPassagem</span>
                        </div>
                        
                        <div>
                            Classe
                            <span>@item.Classe</span>
                        </div>
                        <div>
                            Descrição
                            <span>@item.DescPassagem</span>
                        </div>
                        <div>
                            <a class="button list-edit" href="~/Compra/InsertCompra/@item.IdPassagem"><iconify-icon icon="ci:buy"></iconify-icon>Comprar</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        }
    </div>
</main>
