@model WebVolait.ViewModels.AlterarSenhaFuncionarioViewModel
@{
    ViewBag.Title = "AlterarSenha";
}

<main class="content-main update-passoword margin">
    <div class="container">
        <div class="form-container">
            <form id="update-passoword" class="form" action="~/AutenticacaoFuncionario/AlterarSenha" method="post">
                <div class="form__area-flex-title">
                    <h2 class="form__title">Alterar senha</h2>
                </div>
                <div class="form__area">

                    @Html.EditorFor(model => model.SenhaAtual, new { htmlAttributes = new { @class = "form__area__input" } })
                    @Html.LabelFor(model => model.SenhaAtual, htmlAttributes: new { @class = "form__area__label" })
                </div>
                <div class="form__area">
                    @Html.EditorFor(model => model.NovaSenha, new { htmlAttributes = new { @class = "form__area__input" } })
                    @Html.LabelFor(model => model.NovaSenha, htmlAttributes: new { @class = "form__area__label" })
                </div>
                <div class="form__area">
                    @Html.EditorFor(model => model.ConfirmarSenha, new { htmlAttributes = new { @class = "form__area__input" } })
                    @Html.LabelFor(model => model.ConfirmarSenha, htmlAttributes: new { @class = "form__area__label" })

                </div>
            </form>
            <div class="form__area-flex flex-button">
                <input class="button button--grey" type="button" value="Cancelar">
                <input form="update-passoword" class="button button--blue" type="submit" value="Salvar">
            </div>
        </div>
    </div>
</main>
