@model WebVolait.Models.Funcionario

@{
    ViewBag.Title = "AlterarFuncionario";
}

<main class="content-main edit-employee margin">
    <div class="container">
        <div class="form-container">
            <form class="form form-sign-up-employee" method="post" action="~/AutenticacaoFuncionario/AlterarFuncionario">
                <div class="form__area-flex-title">
                    <h2 class="form__title">Editar funcionário</h2>
                </div>
                <div class="form__area-flex">
                    <div class="form__area">
                        @Html.EditorFor(model => model.CPFFuncionario, new { htmlAttributes = new { @class = "form__area__input" } })
                        @Html.LabelFor(model => model.CPFFuncionario, htmlAttributes: new { @class = "form__area__label" })
                    </div>
                    <div class="form__area">

                        @Html.EditorFor(model => model.NomeFuncionario, new { htmlAttributes = new { @class = "form__area__input" } })
                        @Html.LabelFor(model => model.NomeFuncionario, htmlAttributes: new { @class = "form__area__label" })
                    </div>
                </div>
                <div class="form__area-flex">
                    <div class="form__area">
                        @Html.EditorFor(model => model.NomeSocialFuncionario, new { htmlAttributes = new { @class = "form__area__input" } })
                        @Html.LabelFor(model => model.NomeSocialFuncionario, htmlAttributes: new { @class = "form__area__label" })
                    </div>
                    <div class="form__area">
                        @Html.EditorFor(model => model.LoginFuncionario, new { htmlAttributes = new { @class = "form__area__input" } })
                        @Html.LabelFor(model => model.LoginFuncionario, htmlAttributes: new { @class = "form__area__label" })
                    </div>
                </div>

                <div class="form__area-flex">
                    <div class="form__area">
                        @Html.EditorFor(model => model.TelefoneFuncionario, new { htmlAttributes = new { @class = "form__area__input" } })
                        @Html.LabelFor(model => model.TelefoneFuncionario, htmlAttributes: new { @class = "form__area__label" })
                    </div>
                    <div class="form__area">
                        @Html.EditorFor(model => model.SenhaFuncionario, new { htmlAttributes = new { @class = "form__area__input" } })
                        @Html.LabelFor(model => model.SenhaFuncionario, htmlAttributes: new { @class = "form__area__label" })
                    </div>
                </div>
                <div class="form__area-flex flex-button">

                    <input class="button button--grey" type="button" value="Cancelar">

                    <input class="button button--blue" type="submit" value="Salvar">
                </div>
            </form>
        </div>
    </div>
</main>