@model WebVolait.Models.Contato

@{
    ViewBag.Title = "Index";
}

@*@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Contato</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mensagem, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Mensagem, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Mensagem, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}*@

<main class="content-main contact margin">
    <div class="container">
        <div class="side-content">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.324637212434!2d-46.73058208542314!3d-23.520823465980758!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cef8c1d7fd100d%3A0x9eac09850046cfa4!2sR.%20Guaip%C3%A1%2C%20678%20-%20Vila%20Leopoldina%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2002675-031!5e0!3m2!1spt-BR!2sbr!4v1667508533253!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="form-container">
            <form id="form-login" class="form form-sign-up" action="#">
                <div class="form__area-flex-title">
                    <h2 class="form__title">Contato</h2>
                </div>
                <p class="form__text">Lorem ipsum dolor sit,  Molestias porro dolor commodi. Id dicta suscipit, cupiditate officiis qui in  deserunt possimus. Cumque.</p>
                <!-- <div class="form__area-flex">
    </div> -->
                <div class="form__area">
                    <input class="form__area__input" type="text" name="telephone" id="input-telephone" required>
                    <label class="form__area__label" for="input-telephone">Telefone</label>
                </div>
                <div class="form__area">
                    <input class="form__area__input" type="text" name="email" id="email" required>
                    <label class="form__area__label" for="email">E-mail</label>
                </div>
                <div class="form__area form__area__textarea">
                    <textarea class="form__area__input" name="message" id="input_message" required></textarea>
                    <label class="form__area__label" for="input_message">Mensagem</label>
                </div>
            </form>
            <input form="form-login" class="button button--submit" type="reset" value="Enviar">
        </div>
    </div>
</main>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
