@model WebVolait.ViewModels.CompraViewModel

@{
    ViewBag.Title = "SelectCompra";
}

<h2>SelectCompra</h2>

<div>
    <h4>CompraViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdPassagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdPassagem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomePassagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomePassagem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescPassagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescPassagem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImgPassagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImgPassagem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorPassagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorPassagem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DtHrPartida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtHrPartida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DtHrChegada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtHrChegada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DuracaoVoo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DuracaoVoo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CiaAerea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CiaAerea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Classe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Classe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NotaFiscal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotaFiscal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdAeroPartida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdAeroPartida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdAeroDestino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdAeroDestino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CidadeAeroPartida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CidadeAeroPartida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CidadeAeroDestino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CidadeAeroDestino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UFAeroPartida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UFAeroPartida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UFAeroDestino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UFAeroDestino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QtdPassagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QtdPassagem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoPgto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoPgto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
