@model WebVolait.ViewModels.CompraViewModel

@{
    ViewBag.Title = "SelectCompra";
}

<section class="step-by-step-purchase purchase-details content-main margin">
    <div class="container">
        <ul class="step-by-step-purchase__list">
            <li class="step-by-step-purchase__list__item success">Selecionar passagem</li>
            <li class="step-by-step-purchase__list__item success">Detalhes passagem</li>
            <li class="step-by-step-purchase__list__item success">Pagamento</li>
            <li class="step-by-step-purchase__list__item success">Confirmação compra</li>
        </ul>
    </div>
    <picture class="step-by-step-purchase__background-image">
        <img src="~/images/background-image-purchase-details.jpg" alt="">
        <div class="step-by-step-purchase__background-image__title-step-by-step">
            Tudo pronto para voar
        </div>
    </picture>
    <div class="container">
        <div class="step-by-step-purchase__content-main">
            <div class="purchase-data confirm-purchase">
                <div class="order-confirmed">
                    <div class="icon">
                        <iconify-icon icon="entypo:check" class="ico-ico"></iconify-icon>
                    </div>
                    <span>Compra confirmada</span>
                    <p>Prepare suas malas e embarque com a Volait</p>
                </div>
                <button class="button confirm-order-button">@Html.ActionLink("Finalizar", "Index", "Home")</button>
            </div>
            <div class="purchase-data purchase-details">
                <div class="passages-details">
                    <div class="order-number">
                        # @Model.NotaFiscal
                    </div>
                    <span>@Model.NomePassagem</span>
                    <span class="detail">@Model.CidadeAeroPartida - @Model.CidadeAeroDestino</span>
                    <span class="detail">@Model.IdAeroPartida - @Model.IdAeroDestino</span>
                    <span class="detail">@Model.DescPassagem</span>
                </div>
                <div class="order-values-details">
                    <div class="item">
                        <span>@Model.QtdPassagem</span>
                        <span>R$ @Model.ValorPassagem por passagem</span>
                    </div>
                    <div class="item">
                        <span>SubTotal</span>
                        <span>R$ @Model.ValorTotal</span>
                    </div>
                    <div class="item total">
                        <span>Total</span>
                        <span>R$ @Model.ValorTotal</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
